gg2020.json
test.json
pruned_tweets.json
gg2013.json
gg2015.json
pruned_tweets_2020.json
pruned_tweets_2013.json
pruned_tweets_2015.json
pruned_tweets_best_2020.json
pruned_tweets_best_2015.json
pruned_tweets_best_2013.json
pruned_tweets_red_carpet_2013.json
pruned_tweets_red_carpet_2015.json
pruned_tweets_red_carpet_2020.json
presenter_tweets_2013.json
presenter_tweets_2015.json
tagged_tweets_2013.json
tagged_tweets_2015.json
voting_results_2013.json
voting_results_2015.json
gg2013results.json
gg2015results.json
2013golden_globes_summary.txt
2015golden_globes_summary.txt